<mat-card class="about-me">
  <div>
    <img
      src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1563424119071&di=71edc5a81fad25259996f251efac6913&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201804%2F28%2F20180428161244_egvix.thumb.1000_0.jpg"
      alt="">
  </div>
  <ul class="about-me-list">
    <li>ameeo@foxmail.com</li>
    <li><a href="https://github.com/Lennam">Github</a></li>
    <li><a href="https://weibo.com/ameeo">微博</a></li>
  </ul>
</mat-card>
