<div class="detail-content">
  <div class="wrapper" *ngIf="artical$ | async as artical">
    <div class="line"></div>
    <div class="title">{{artical.title}}</div>
    <div class="time">
      <mat-icon matSuffix>calendar_today</mat-icon>
      <span class="time__date">{{artical.createDate | date: 'yy-MM-dd'}}</span>
    </div>
    <div class="content">
      <markdown ngPreserveWhitespaces [data]="artical.content">
      </markdown>
    </div>
    <div class="category">
      <mat-icon matSuffix>local_offer</mat-icon>
      <a class="tap">{{artical.category}}</a>
    </div>
    <div class="others">
      <div class="previous" *ngIf="artical.pre">
        <div>- Previous</div>
        <div class="link">
          <a *ngIf="artical.pre" [routerLink]="['/blog', artical.pre.id]"
            routerLinkActive="router-link-active">{{artical.pre.title}}</a>
        </div>
      </div>
      <div class="next" style="text-align: right;" *ngIf="artical.next">
        <div>- Next</div>
        <div class="link">
          <a *ngIf="artical.next" [routerLink]="['/blog', artical.next.id]"
            routerLinkActive="router-link-active">{{artical.next.title}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="loading-icon" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

</div>
