.category-list {
  border: 2px solid #404040;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem 0;

  .category-list__header {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 15px;
  }
}
