.login-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-box {
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba($color: (#000000), $alpha: .3);

    .login-form {
      display: flex;
      flex-direction: column;
    }
  }
}
