<div class="admin-container" [class.admin-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="admin-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Nam's</h1>
    <div class="fill-remaining-space"></div>
    <a [routerLink]="['/blog']" routerLinkActive="router-link-active" target="_blank" style="color: white">blog</a>
    <button mat-button (click)="logOut()">退出登录</button>
  </mat-toolbar>

  <mat-sidenav-container class="admin-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [(opened)]="opended" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-expansion-panel *ngFor="let item of navs" (opened)="item.opended" (closed)="item.opended">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item *ngFor="let childMenu of item.childMenu"
            [routerLink]="childMenu.router">{{childMenu.name}}</a>
        </mat-expansion-panel>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
      <!-- sdfdsfdsf -->
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
