.content {
  display: flex;
  flex-direction: column;
  align-items: center;


  .header {
    height: 10vh;
    // line-height: 10vh;
    width: 63vw;
    // border: 1px solid black;
    // margin-left: 18.5vw;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid #404040;

    .icon {
      // color: rgba(0, 0, 0, .54);
      font-weight: 700;
      cursor: pointer;
      position: relative;
    }

    .icon:hover {
      color: rgba(0, 0, 0, .74);

      // &__dot {
      //   animation: flyaround;

      // }
    }

  }

  .body {
    width: 63vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .list {
      width: 40vw;
      min-width: 320px;
      padding: 1rem;
      min-height: 328px;
    }

    .side-bar {
      flex-direction: column;
      max-width: 200px;
    }
  }
}

.mat-form-field-suffix {
  margin-bottom: -5px !important;
}

@keyframes flyaround {
  0% {
    left: 34px;
    top: 2px;
  }

  50% {
    left: 340px;
    top: 20px;
  }

  100% {
    left: 34px;
    top: 2px;
  }
}
