<div class="content">
  <!-- <mat-toolbar>
    <mat-toolbar-row>
      <span class="icon">Nam's</span>
    </mat-toolbar-row>
  </mat-toolbar> -->
  <header>
    <a [routerLink]="['/home']" routerLinkActive="router-link-active">Nam's</a>
  </header>


  <div class="body">
    <section class="list" [@routeAnimation]="getAnimationData(routerOutlet)">
      <router-outlet #routerOutlet="outlet"></router-outlet>
    </section>
    <section class="side-bar">
      <app-category-list></app-category-list>
      <app-about-me></app-about-me>
    </section>
  </div>
</div>
