.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    width: 63vw;
    min-width: 320px;
    padding: 1rem;
    font-size: 2rem;
    border-bottom: 2px solid rgb(196, 196, 196);
    border-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 251, 0), rgb(51, 255, 0), rgb(0, 255, 242), rgb(38, 0, 255));
    border-image-slice: 10;

  }

  .body {
    padding-top: 2vw;
    width: 63vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .list {
      width: 40vw;
      min-width: 320px;
      padding: 1rem;
      min-height: 328px;
    }

    .side-bar {
      flex-direction: column;
      max-width: 200px;
    }
  }
}

.mat-form-field-suffix {
  margin-bottom: -5px !important;
}

@keyframes flyaround {
  0% {
    left: 34px;
    top: 2px;
  }

  50% {
    left: 340px;
    top: 20px;
  }

  100% {
    left: 34px;
    top: 2px;
  }
}
