<div class="content">
  <header class="header">
    <a class="icon">Nam'
      <!-- <span class="icon__dot"></span> -->
      s</a>
    <mat-form-field class="search-bar">
      <input type="text" matInput placeholder="Search...">
      <mat-icon matSuffix style="color: rgba(0,0,0,.54)">search</mat-icon>
    </mat-form-field>
  </header>
  <div class="body">
    <section class="list" [@routeAnimation]="getAnimationData(routerOutlet)">
      <router-outlet #routerOutlet="outlet"></router-outlet>
    </section>
    <section class="side-bar">
      <app-category-list></app-category-list>
      <app-about-me></app-about-me>
    </section>
  </div>
</div>
