/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: #404040;
}

a:hover {
  color: #808080;
}

.success-snackbar {
  background: #FFFFFF !important;
  color: #1A2669;

  button {
    color: #3f51b5;
  }
}

.warning-snackbar {
  background: #FFFFFF !important;
  color: #C17257;

  button {
    color: #3f51b5;
  }
}

.error-snackbar {
  background: #FFFFFF !important;
  color: #FF2240;

  button {
    color: #3f51b5;
  }
}
