.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;

  .navs {
    background: rgba($color: #FFFFFF, $alpha: .7);
    border-radius: 5px;
    text-align: center;
    padding: 10px;

    &__title {
      font-size: 4vw;
    }

    &-content {
      display: flex;

      li {
        list-style: none;
        margin: 2vw;
      }
    }

    &__item {
      font-size: 3.5vw;
      text-decoration: none;
      color: palevioletred;
    }

    &__item:hover {
      color: rgb(226, 143, 171);
    }
  }
}
